# binary
dynamic-crf
bin/
.ffmpeg-build/

# media files
*.mp4
*.ts
*.mkv
*.mov
*.avi
*.webm
*.yuv
*.y4m
*.tar.gz
fixtures/media/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
*.exe
*.exe~
*.test
*.out
*.prof

# temp files
*.tmp
