# binary
dynamic-crf

# media files
*.mp4
*.ts
*.mkv
*.mov
*.avi
*.webm
*.yuv

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
*.exe
*.exe~
*.test
*.out
*.prof

# temp files
*.tmp
